################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Bridge-full
/Bridge-full/.vs/Bridge-full/v14
/Bridge-full/.vs/Bridge-full/v14
/Bridge-full/bin
/Bridge-full/obj
/Bridge-full/.vs/Bridge-full/v14/.suo
