<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- 左ブリッジチャンネル -->
        <add key="BridgeChoice_L" value="0" />
        <!-- 右ブリッジチャンネル -->
        <add key="BridgeChoice_R" value="1" />
        <!-- ゲイン -->
        <add key="GainIndex" value="5" />
        <!-- 左初期値 -->
        <add key="InitVal_L" value="0" />
        <!-- 右初期値 -->
        <add key="InitVal_R" value="0" />
        <!-- 許容範囲 -->
        <add key="PermRng" value="0.1" />
        <!-- キャリブレーション 左 傾き -->
        <add key="Calib_L_x" value="1" />
        <!-- キャリブレーション 左 Y切片 -->
        <add key="Calib_L_y" value="0" />
        <!-- キャリブレーション 右 傾き -->
        <add key="Calib_R_x" value="1" />
        <!-- キャリブレーション 右 Y切片 -->
        <add key="Calib_R_y" value="0" />
        <!-- データレンジ -->
        <add key="DataRng" value="1000" />
        <!-- PLC IPアドレス -->
        <add key="PlcIpAdr" value="192.168.104.61" />
        <!-- PLC ポート -->
        <add key="PlcPort" value="1025" />
        <!-- 初期値サンプリング数 -->
        <add key="InitSampNum" value="120" />
        <!-- 制御サンプリング数 -->
        <add key="CtlSampNum" value="30" />
    </appSettings>
</configuration>